html {
  margin: 0;
  margin-top: 0;
  margin-bottom: 15%;
  padding: 0;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background: #ddd4cb;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ddd4cb;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #493535;
}
